<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Trippy Video Generator</title>
</head>
<body>
    <div class = "homesec">
        <h1 id = "homehead" class="headers">Style a still image (.png, .jpg) or a dynamic video (.mp4)!</h1>
    </div>
    <br>
    <h2 class="headers"> Upload an image or video and choose from pretrained styles! </h1>
    <div>
        <form class="inline" action = "/fast_form" method = "GET">
            <input class="bluebutton" type="submit" id="formbutton" value="Upload!" name="file">
        </form>
    </div>
</body>
</html>
    
    

    
