<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Trippy Video Generator</title>
</head>
<body>
    <h1 class="headers">Style a still image (.png, .jpg) or a dynamic video (.mp4)!</h1>
    <hr>
    <h2 class="headers"> Style using image/video URLs </h2>
    <div>
        <form class="inline" action = "/url_form" method = "GET">
            <input class="bluebutton" type="submit" id="formbutton" value="Style!" name="url">
        </form>
    </div>
    <h3 class="headers"> or...</h3>
    <h2 class="headers"> Upload Image/Video Files! </h1>
    <div>
        <form class="inline" action = "/upload_form" method = "GET">
            <input class="bluebutton" type="submit" id="formbutton" value="Upload!" name="file">
        </form>
    </div>
    <h3 class="headers"> or...</h3>
    <h2 class="headers"> Upload An Image/Video and Choose From Pretrained Styles! </h1>
    <div>
        <form class="inline" action = "/fast_form" method = "GET">
            <input class="bluebutton" type="submit" id="formbutton" value="Upload!" name="file">
        </form>
    </div>
</body>
</html>
    
    
