<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Trippy Video Generator</title>
</head>
<body>
    <form action = "/form" method="POST">
        <div>
            <p class="headers"> Content Image URL (.png, .jpg)</p>
            <input class="field" name="content url"><br> </br>
            <p class="headers"> Style Image URL (.png, .jpg) </p>
            <input class="field" name="style url"><br> </br>
            <input type="submit"><br> </br>
        </div>
    </form>
</body>
</html>

