<!DOCTYPE html>
<html>
<head>
    <title>Upload files</title>
</head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
<h1 class="headers">Success: Uploaded File Here:</h1>
<body>
    <video controls>
    	<source src="../static/output.mp4" type="video/mp4"></source>
    </video>
    <!-- <img src="/static/dancing.jpg" alt="User Image"> -->
<h2 class="headers">Upload new file here:</h2>
<form action = "/upload_form" method="POST" enctype=multipart/form-data>
    <div id = "filediv"> 
        <input class = "inputfile" type="file" name="file" id="file" /> <br> </br>
    </div><br> </br>
    <input class = "bluebutton" type="submit" value="Upload" />
</form>
</body>
</html>